Source: vault-cli
Section: net
Priority: optional
Maintainer: Mickaël Guérin <mickael.guerin@people-doc.com>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools, python3-yaml
Standards-Version: 4.1.2
Homepage: https://github.com/peopledoc/vault-cli
X-Python3-Version: >= 3.5

Package: python3-vault-cli
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: simple interactions with hashicorp's vault
 This tools allows simple interactions with the vault API, allowing configuration to be done in a separate step using a YAML configuration file
